<h2>Template: <small>Din&aacute;micos</small></h2>

<form (ngSubmit)="onSubmit()" #f="ngForm" autocomplete="off">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col">
            <input 
                type="text"
                class="form-control"
                placeholder="Nombre"
                name="nombre"
                [ngModel]="persona.nombre"
                required
            >
            <span
                *ngIf="f.controls['nombre']?.touched && f.controls['nombre'].errors" 
                class="form-text text-danger">Este campo es obligatorio</span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col">
            <div class="input-group">
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Agregar favorito"
                    [(ngModel)]="nuevoJuego"
                    (keyup.enter)="agregarFavorito()"
                    name="nuevoJuego"
                >
                <button
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="agregarFavorito()"
                >
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col">
            <div 
                class="input-group mb-1"
                *ngFor="let juego of persona.favoritos; let i = index"    
            >
                <input 
                    type="text"
                    [(ngModel)]="juego.nombre"
                    name="favorito_{{ i }}"
                    class="form-control"
                    required
                >
                <button
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="eliminarFavorito(i)"
                >
                    Borrar
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button
                type="button"
                class="btn btn-primary float-end"
                (click)="onSubmit()"
                [disabled]="f.invalid"
            >
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Persona</span>
<pre> {{ persona | json }}</pre>