<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton (click)="mostrarNombre()" label="Cambiar Nombre" icon="pi pi-bell" iconPos="right" class="p-button-help"></button>

<p-card [header]="nombre" subheader="ESto es un subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nihil recusandae atque, inventore maxime, deserunt optio possimus accusamus aut fuga reiciendis ab expedita sed illum id nemo! Non, libero pariatur.
</p-card> -->


<app-menu></app-menu>
<router-outlet></router-outlet>
